<h1 class="work-title">{{ workDetail.title }}</h1>

<div class="d-flex justify-content-center">
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h5 class="mb-1">
          <h5 class="card-title">{{ workDetail.author }}</h5>
        </h5>
        <small>Unit {{ workDetail.unit }}</small>
      </div>

      <p class="card-text">{{ workDetail.description }}<sup><a href="{{ workDetail.source}}" target="_blank">[1]</a></sup></p>
      <small>
        tags:
        <span *ngFor="let tag of workDetail.tags; let i = index">
            <a routerLink="/tags/{{ tag }}" class="work-tag">{{ tag }}</a>
            <span *ngIf="i < workDetail.tags.length-1">, </span>
          </span>
      </small>
    </div>
  </div>
</div>

<button type="button" class="btn btn-primary mt-3" (click)="goBack()">back</button>
