<nav class="navbar navbar-expand-lg navbar-dark mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">CTR</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/works">Works</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tags">Tags</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container d-flex justify-content-center" role="main">
  <router-outlet></router-outlet>
</div>
