/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f2e4fd;
  font-family: 'Lato', sans-serif;
}

nav {
  background-color: #3c1361;
}

.btn-primary {
  background-color: #3c1361;
  border: #3c1361;
}

.btn-primary:hover {
  background-color: mediumpurple;
}

.badge {
  background-color: #3c1361;
}

.card-title {
  font-weight: bold;
}

.list-group-item, .card {
  width: 30rem;
}

.list-group-item, a {
  color: #3c1361;
}

a:hover {
  color: mediumpurple;
}

.work-title {
  text-decoration-line: none;
  font-style: italic;
}

.work-tag {
  font-style: italic;
}
